MINER_ADDRESS=
HIVEOS_TOKEN=
ETHERSCAN_TOKEN=
ETHGASSTATION_TOKEN=
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=
GF_USERS_DEFAULT_THEME=light
INFLUXDB_DB=metrics
INFLUXDB_WRITE_USER=telegraf
INFLUXDB_WRITE_USER_PASSWORD=
INFLUXDB_READ_USER=grafana
INFLUXDB_READ_USER_PASSWORD=
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_USER_PASSWORD=
INFLUXDB_HTTP_HTTPS_ENABLED=true
INFLUXDB_HTTP_HTTPS_CERTIFICATE=/etc/ssl/self-signed/my.crt
INFLUXDB_HTTP_HTTPS_PRIVATE_KEY=/etc/ssl/self-signed/my.key
